POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=database
SECRET_KEY="sec_key"
# Social Media Credentials
# FACEBOOK_APP_ID=facebookapp
# FACEBOOK_APP_SECRET=app secret

FACEBOOK_APP_ID=app_id
FACEBOOK_APP_SECRET=app_secret


FACEBOOK_API_VERSION=facebook_api_version

LINKEDIN_CLIENT_ID=linked_in_id
LINKEDIN_CLIENT_SECRET=secret

TIKTOK_CLIENT_KEY=secret
TIKTOK_CLIENT_SECRET=secret

BASE_URL=ngrok_base_url #in dev mode
FRONTEND_URL=frontend_url # for cors
MOCK_MODE=true  #false
LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

# MinIO Storage Credentials
MINIO_ACCESS_KEY=access_key
MINIO_SECRET_KEY=secret_key

DEV_MODE=true
