SECRET_KEY=your_secret_key
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=social_platform

# Social Media Credentials
# Facebook / Instagram
FACEBOOK_APP_ID=your_fb_app_id
FACEBOOK_APP_SECRET=your_fb_app_secret
FACEBOOK_API_VERSION=v24.0

# LinkedIn
LINKEDIN_CLIENT_ID=your_li_client_id
LINKEDIN_CLIENT_SECRET=your_li_client_secret

# TikTok
TIKTOK_CLIENT_KEY=your_tt_client_key
TIKTOK_CLIENT_SECRET=your_tt_client_secret

# MinIO Storage Credentials
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
